<template>
  <div class="about">
    <PageHeader title="about" />
    <div class="content">
      <prog-img
        :cdn-base-url="constants.cdnBaseUrl"
        :dir-name="constants.dirName"
        image-name="me_duh"
      />
      <p>
        My name is Emma Claire and I am a visual artist specializing in digital art. I do this
        through combining illustrations, typography and photography with just a hint of unnecessary
        drama. I dance on the line between chaos and avant-garde and tend to land somewhere
        beautifully awkward in really intense ways. I graduated from George Fox University with a
        bachelors degree in design and haven’t stopped collecting items, ideas, and experiences to
        create consistency, remembrance, and integrity to implement in my designs. Everything I
        create has been built out of intention and it is my joy and responsibility to share the
        stories they hold. I am an eclectic and enigmatic soul and follow the mantra ‘as above so
        below’ since I find inspiration from space, the sky, and our universe which gives humility
        and flowers, water, and new growth which yield breath. This creates a reciprocal purpose to
        my work with a purpose larger than my existence.
      </p>
      <p>
        Curiosity brings me the motivation to make, encouragement sustains, success drives me deeper
        yet, and anger drives me to exhaust the best I can be. I spend a lot of time thinking in an
        abstract spaces to discover and conclude my emotions - it is a wonderful and rare space for
        me to create a concrete substance that pours my spirit into words and installations - but
        when they happen, the layers are present and the message is clear. Enjoy my designs, art,
        and current events - all of the pieces shown can be printed and sent off to your doorstep.
        Feel free to message me for details, a chat, or a story.
      </p>
    </div>
    <Form />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader.vue'
import Form from '../components/Form.vue'
import ProgressiveImage from '../components/ProgressiveImage.vue'

import { mapState } from 'vuex'

export default {
  name: 'About',
  components: {
    PageHeader,
    Form,
    'prog-img': ProgressiveImage
  },
  computed: {
    ...mapState(['constants'])
  }
}
</script>
<style lang="sass" scoped>
.about
  .content
    padding: 0 15%
    display: flex
    flex-direction: column
    align-items: center
    img
      margin-left: -7%
      width: 38.49vw
    p
      text-align: left
</style>
