<template>
  <div class="art">
    <PageHeader title="art" />
    <div class="photos">
      <prog-img
        v-for="img in constants.artImgs"
        :key="img"
        :cdn-base-url="constants.cdnBaseUrl"
        :dir-name="constants.dirName"
        :image-name="img"
        class="image"
      />
    </div>
    <Form />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import ProgressiveImage from '../components/ProgressiveImage'
import Form from '../components/Form.vue'
import { mapState } from 'vuex'

export default {
  name: 'Art',
  components: {
    PageHeader,
    'prog-img': ProgressiveImage,
    Form
  },
  computed: {
    ...mapState(['constants'])
  }
}
</script>
<style lang="sass" scoped>
.art
  .photos
    padding-top: 10vh
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(12, auto)
    @media (max-width: 900px)
      grid-template-columns: auto
      grid-template-rows: auto
      grid-gap: 125px
    @media screen and (max-width: 900px)
      display: block
    #copy
      grid-row-start: 1
      grid-column-start: 1
      grid-column-end: 13
      width: 32.02vw
      margin-right: 2.60vw
      justify-self: right
    #this-is-it
      width: 60.27vw
      grid-column-start: 1
      grid-column-end: 13
      grid-row-start: 1
      grid-row-end: 3
      margin-top: 6.72vw
      margin-left: -7.19vw
    #skyswitch
      grid-column-start: 7
      grid-column-end: 13
      grid-row-start: 2
      grid-row-end: 3
      width: 43.89vw
      margin-top: 12.03vw
      justify-self: right
    #city
      width: 56.21vw
      margin-top: -1.82vw
    #sweetness-and-danger
      grid-column-start: 7
      grid-column-end: 13
      grid-row-start: 3
      grid-row-end: 5
      justify-self: right
      width: 33.19vw
      margin-top: 24.58vw
      margin-right: 4.05vw
    #fairytales-and-firesides
      z-index: -1
      grid-row-start: 4
      grid-row-end: 5
      margin-top: 23.66vw
      width: 76.33vw
    #blind
      grid-column-start: 1
      grid-column-end: 10
      grid-row-start: 5
      grid-row-end: 7
      width: 88.75vw
    #untitled-6
      grid-column-start: 1
      grid-column-end: 13
      grid-row-start: 6
      grid-row-end: 7
      justify-self: right
      margin-top: 54.74vw
      margin-right: 6.39vw
      width: 33.93vw
    #lately
      grid-column-start: 1
      grid-column-end: 13
      grid-row-start: 9
      justify-self: center
      margin-top: 15.07vw
      width: 53.25vw
    #reset
      grid-column-start: 1
      grid-column-end: 13
      grid-row-start: 10
      margin-top: 15.08vw
    @media screen and (max-width: 900px)
      #copy, #this-is-it, #skyswitch, #city, #sweetness-and-danger, #fairytales-and-firesides, #blind, #untitled-6, #lately, #reset
        margin: 25px 0
        width: 100%
</style>
