<template>
  <div class="current">
    <div class="content">
      <PageHeader title="current" />
      <div
        @mouseenter="muterVisible = true"
        @mouseleave="muterVisible = false"
        id="video-container"
      >
        <video id="video" autoplay loop muted>
          <source
            src="https://res.cloudinary.com/tdawson/video/upload/q_auto:good/v1554866762/ec-site/asiam.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <transition name="fade">
          <div v-show="muterVisible" class="muter" @click="toggleMute()">
            <i v-if="isMuted" class="material-icons">
              volume_off
            </i>
            <i v-else class="material-icons">
              volume_mute
            </i>
          </div>
        </transition>
      </div>
      <div class="thinks">
        <h1>THINKS</h1>
        <div class="thinks-entries">
          <div class="entry">
            <h2 class="entry-title">
              throwing up casually
            </h2>
            <div class="entry-date">
              6.4.18
            </div>
            <div class="entry-blurb">
              <p>
                I am a storyteller by nature and love any opportunity to share them with people.
                Throwing up Casually is the title of my memoir i’ll come out with in about fifty
                years and it only seemed appropriate to introduce the concept of sharing stories
                under that name for now.
              </p>
            </div>
          </div>
          <div class="entry">
            <h2 class="entry-title">
              ‘as i am’
            </h2>
            <div class="entry-date">
              4.16.18
            </div>
            <div class="entry-blurb">
              <p>
                A gallery installation displayed George Fox University as a senior design student.
                Here, is my artist statement to pair with the images displayed. The show was up for
                a total of a week, and the remnants were stuck in my car until I threw them all away
                in a feathery mess.
              </p>
            </div>
          </div>
          <div class="entry">
            <h2 class="entry-title">
              vexilum
            </h2>
            <div class="entry-date">
              1.21.18
            </div>
            <div class="entry-blurb">
              <p>
                “Vexilum” is a mini-series demonstrating flowers and water as abstract objects while
                capitalising the bits one may not notice immediately when observing them at a
                glance.Vexilum is a made-up word to describe the petals of flowers in full bloom,
                coming from the root word “veksil” which means “upper petal of a papilionaceous
                flower.” The pictures are made to showcase that beauty in an abstract form and tell
                stories they capture.
              </p>
            </div>
          </div>
        </div>
      </div>
      <InstaFeed api-key="Sg79ytQk1JHNZkvwKA_L" widget-id="17763" num-images="5" />
    </div>
    <Form />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import Form from '../components/Form'
import InstaFeed from '../components/InstaFeed'

import { mapState } from 'vuex'

export default {
  name: 'Current',
  components: {
    PageHeader,
    Form,
    InstaFeed
  },
  data() {
    return {
      isMuted: true,
      muterVisible: false
    }
  },
  computed: {
    ...mapState(['constants'])
  },
  methods: {
    toggleMute() {
      this.isMuted = !this.isMuted
      let video = document.getElementById('video')
      video.muted = this.isMuted
    }
  }
}
</script>
<style lang="sass" scoped>
.current
  .content
    padding: 0 5%
    #video-container
      position: relative
      video
        width: 100%
      .muter
        cursor: pointer
        position: absolute
        bottom: 18px
        right: 18px
        color: white
        height: 28px // NOTE <-> Must be same as font size o_0
        i
          font-size: 28px
    h1
      font-family: ltc-bodoni-175, serif
      font-weight: 400
      font-style: normal
      margin: unset
    .thinks
      padding: 10vw 0
      h1
        margin-bottom: 20px
      .thinks-entries
        .entry
          display: grid
          grid-template-columns: auto auto
          grid-template-rows: auto auto
          justify-items: left
          align-items: center
          padding: 2.12vw 0
          h2
            font-weight: normal
          .entry-date
            font-size: 3.5vw
            color: #707070
            width: min-content
            height: min-content
            justify-self: right
          .entry-title
            font-size: 5.5vw
            margin: 0
          .entry-blurb
            grid-column-start: 1
            grid-column-end: 3
            text-align: left
            p
              overflow: hidden
              text-overflow: ellipsis
              display: -webkit-box
              -webkit-line-clamp: 3
              -webkit-box-orient: vertical
        @media (min-width: 560px) and (max-width: 660px)
          .entry
            .entry-title
              font-size: 4.5vw
            .entry-date
              font-size: 2.5vw
        @media (min-width: 661px) and (max-width: 760px)
          .entry
            .entry-title
              font-size: 4vw
            .entry-date
              font-size: 2.5vw
        @media (min-width: 761px) and (max-width: 1000px)
          .entry
            .entry-title
              font-size: 3.5vw
            .entry-date
              font-size: 2vw
      @media (min-width: 701px) and (max-width: 1000px)
        .thinks-entries
          width: 80%
          margin: auto
    @media (min-width: 1001px) and (max-width: 2400px)
      .thinks
        text-align: left
        .thinks-entries
          width: 70%
          margin: auto
          .entry
            .entry-title
              grid-column-start: 1
              grid-column-end: 3
              justify-self: center
              font-size: 3vw
            .entry-date
              font-size: 1.5vw
              margin-left: -5.9vw
              margin-bottom: -20px
              grid-row-start: 2
              justify-self: left
    @media (min-width: 1160px) and (max-width: 2400px)
      .thinks
        h1
          font-size: 3vw
        .thinks-entries
          width: 60%
          .entry
            .entry-title
              font-size: 2vw
            .entry-date
              font-size: 1vw
    @media (min-width: 1280px) and (max-width: 2400px)
      .thinks
        h1
          font-size: 3vw
        .thinks-entries
          width: 50%
.fade-enter-active, .fade-leave-active
  transition: opacity 200ms
.fade-enter, .fade-leave-to
  opacity: 0
</style>
