<template>
  <div class="design">
    <PageHeader title="design" />
    <div class="images">
      <prog-img
        v-for="img in constants.designImgs"
        :key="img"
        :cdn-base-url="constants.cdnBaseUrl"
        :dir-name="constants.dirName"
        :image-name="img"
        class="image"
      />
    </div>
    <Form />
  </div>
</template>
<script>
import PageHeader from '../components/PageHeader'
import ProgressiveImage from '../components/ProgressiveImage'
import Form from '../components/Form.vue'

import { mapState } from 'vuex'

export default {
  name: 'Design',
  data() {
    return {}
  },
  components: {
    PageHeader,
    'prog-img': ProgressiveImage,
    Form
  },
  computed: {
    ...mapState(['constants'])
  }
}
</script>
<style lang="sass" scoped>
  /* Note: Vertical spacing using `vw` holds positioning the best when resizing. */

.design
  .images
    display: grid
    @media screen and (max-width: 900px)
      display: block
      padding: 0 15%
      .image
        &:nth-child(n)
          width: 100%
          margin: 100px 0
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(12, auto)
    img
      /* TODO: Use IDs instead of nth-child? although consider that css specificity might break media query */
      /* ros_social_media */
      &:nth-child(1)
        grid-column-start: 1
        grid-column-end: 13
        width: 61.80vw
        margin-left: 27.97vw

      /* lam */
      &:nth-child(2)
        grid-column-start: 1
        grid-column-end: 4
        width: 23.3vw
        margin-left: 2.1vw
        margin-top: 1.6vw

      /* mycology */
      &:nth-child(3)
        grid-column-start: 4
        grid-column-end: 13
        width: 46.4vw
        justify-self: end
        margin-right: 18.8vw
        margin-top: 8vw

      /* brolly */
      &:nth-child(4)
        grid-row-start: 3
        grid-row-end: 5
        grid-column-start: 1
        grid-column-end: 5
        width: 33.96vw
        margin-top: 17.86vw
        margin-left: 6.56vw

      /* fi */
      &:nth-child(5)
        grid-column-start: 5
        grid-column-end: 13
        width: 18.9vw
        margin-right: 21.56vw
        margin-top: 8.44vw
        margin-bottom: 4.84vw
        justify-self: end

      /* winteraid */
      &:nth-child(6)
        grid-row-start: 4
        grid-row-end: 6
        grid-column-start: 5
        grid-column-end: 13
        width: 45.78vw
        justify-self: end
        margin-right: 5.57vw

      /* pink */
      &:nth-child(7)
        grid-row-start: 5
        grid-row-end: 6
        grid-column-start: 1
        grid-column-end: 5
        width: 29.66vw
        margin-top: 7.94vw
        margin-left: 10.89vw

      /* blue */
      &:nth-child(8)
        grid-column-start: 1
        grid-column-end: 13
        grid-row-start: 5
        grid-row-end: 7
        align-self: end
        justify-self: end
        margin-top: 30.89vw
        margin-right: 34.27vw
        width: 22vw

      /* o */
      &:nth-child(9)
        width: 68.7vw
        grid-column-start: 1
        grid-column-end: 13
        grid-row-start: 7
        grid-row-end: 8
        margin-top: 6.56vw
        margin-right: 15.63vw
        justify-self: end

      /* gold */
      &:nth-child(10)
        grid-row-start: 8
        grid-row-end: 9
        grid-column-start: 1
        grid-column-end: 5
        width: 30.21vw
        margin-top: 9.9vw
        margin-left: 9.01vw

      /* white */
      &:nth-child(11)
        grid-row-start: 8
        grid-row-end: 10
        grid-column-start: 5
        grid-column-end: 13
        justify-self: end
        margin-top: 19.17vw
        margin-right: 12.34vw
        width: 39.66vw

      /* grey */
      &:nth-child(12)
        grid-row-start: 9
        grid-row-end: 10
        margin-top: 3.13vw
        grid-column-start: 1
        grid-column-end: 13
        margin-left: 24.06vw
        width: 20.7vw

      /* two_redials_horizontal */
      &:nth-child(13)
        grid-column-start: 1
        grid-column-end: 13
        margin-top: 13.54vw

      /* black_spotify */
      &:nth-child(14)
        grid-row-start: 11
        grid-row-end: 12
        grid-column-start: 1
        grid-column-end: 5
        width: 28.44vw
        margin-left: 12.19vw
        margin-top: 9.69vw

      /* red */
      &:nth-child(15)
        grid-row-start: 11
        grid-row-end: 12
        grid-column-start: 5
        grid-column-end: 13
        margin-right: 10.26vw
        margin-top: 9.69vw
        margin-bottom: 3.49vw
        width: 41.43vw
        justify-self: end

      /* creme */
      &:nth-child(16)
        grid-row-start: 11
        grid-row-end: 13
        grid-column-start: 1
        grid-column-end: 6
        margin-top: 3.59vw
        margin-bottom: 11.99vw
        margin-left: 24.27vw
        align-self: end
        width: 20.63vw

      /* orange */
      &:nth-child(17)
        grid-column-start: 6
        grid-column-end: 13
        margin-right: 30.99vw
        justify-self: end
        width: 20.68vw

      /* green */
      &:nth-child(18)
        grid-row-start: 12
        grid-row-end: 14
        grid-column-start: 1
        grid-column-end: 5
        align-self: end
        margin-bottom: 2.92vw
        margin-left: 10.21vw
        width: 34.71vw

      /* 666 */
      &:nth-child(19)
        grid-column-start: 5
        grid-column-end: 13
        margin-right: 21.35vw
        margin-top: 5.68vw
        justify-self: end
        width: 22.45vw
</style>
