<template>
  <div class="thinks">
    <PageHeader title="thinks" />
    <div class="entries">
      <div id="throwing-up" class="entry">
        <div class="title">
          throwing up casually
        </div>
        <div class="date">
          6.5.18
        </div>
        <div class="content">
          <p>
            welcome friends to story time with emma claire. here is a blog/project page where you
            can see the behind the scenes for my work, thoughts, stories, plans and ideas for those
            who aren’t tired of me already. I am a storyteller by nature and love any opportunity to
            share them with people. Throwing up Casually is the title of my memoir i’ll come out
            with in about fifty years and it only seemed appropriate to introduce the concept of
            sharing stories under that name for now. stay connected because facebook is for old
            people now. I update this page the most, and will be filled with fresh content yearly.
          </p>
          <div class="img-tainer">
            <prog-img
              v-for="i in [0, 1, 2]"
              :key="i"
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              :image-name="'ec_' + i"
            />
          </div>
        </div>
      </div>
      <hr />
      <div id="as-i-am" class="entry">
        <div class="title">
          'as i am'
        </div>
        <div class="date">
          4.16.18
        </div>
        <div class="content">
          <prog-img
            :cdn-base-url="constants.cdnBaseUrl"
            :dir-name="constants.dirName"
            image-name="art_2"
          />
          <prog-img
            :cdn-base-url="constants.cdnBaseUrl"
            :dir-name="constants.dirName"
            image-name="art_0"
          />
          <div class="content__grid">
            <div>
              <p>
                My process of creating art develops around me and is rarely streamlined from a place
                of intention. Rather, it is a reactive flow of actions to reflect my surroundings.
              </p>
              <p>As I am, so is my soul.</p>
            </div>
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="art_4"
            />
            <div>
              <p>
                For this display, my goal was to encapsulate the basic relationship of man to the
                world, and to instruct those to use the world as their mirrors. What I came up with
                was an expression of life and death within itself.
                <br />
                I have been challenged to empower analogy and metaphor lending relevance to biblical
                parables and mythical fairytales.
                <br />
                Much like the Israelites in the desert with nothing but the cloud by day and the
                fire by night, I had no direction to follow when creating these pieces other than my
                dedication to fill some space and my curiosity for the potential outcomes for my
                actions.
                <br />
                My curiosity led me to the destruction of my art created over the course of my time
                at George Fox. I chose to burn the coffin I had built and canvases I had painted to
                depict my process of moving past the darkness in my life.
              </p>
              <p>
                As within so without.
              </p>
            </div>
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="art_5"
            />
            <div>
              <p>
                I wanted to witness the entirety of my art’s creation and death.
                <br />
                I wasn’t torn up about the art pieces being lost because I was in control of their
                demise. it’s losing items uncontrollably that truly breaks my heart. From dust we
                rise, and to dust we fall.

                <br />
                I have concluded that only I can build my spirit and cannot change what happens
                around me, only my perspective can change.

                <br />
                As above my future is set, so below are the actions I take every day towards my
                goals.

                <br />
                As within is my spirit that is strengthened by the surroundings I have without
                control.

                <br />
                As I am creating, so is my soul enriched.

                <br />
                These scrolls are my pathway and guiding light and the coffin is marred in
                corruption with feathers of nostalgia to wipe it away.

                <br />
                Its rough and not clean.

                <br />
                This is my path of good destruction.

                <br />
                I haven’t chosen it and I will not back down.
                <br />
                <br />
                As above, so below,<br />
                As within, so without,<br />
                As I am, so is my soul.<br />
              </p>
            </div>
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="art_3"
            />
          </div>
        </div>
      </div>
      <hr />
      <div id="vexilum" class="entry">
        <div class="title">
          vexilum
        </div>
        <div class="date">
          1.21.18
        </div>
        <div class="content">
          <p>
            “Vexilum” is a mini-series demonstrating flowers and water as abstract objects while
            capitalising the bits one may not notice immediately when observing them at a
            glance.Vexilum is a made-up word to describe the petals of flowers in full bloom, coming
            from the root word “veksil” which means “upper petal of a papilionaceous flower.” These
            pictures are made to showcase that beauty in an abstract form and tell stories they
            capture.
          </p>
          <br />
          <div class="content--grid">
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="YONI"
            />
            <div>
              <h2>
                ‘change’
              </h2>
              <p>
                I took this picture on a sailboat on a Wednesday in the middle of June in Long Beach
                Harbor of ‘16. I was a tag-along, running from side to side of the rocking boat
                while cheering on the team to win the race we were destined to fail.
              </p>
              <p>
                After we lost the race with dignity and grace, we had managed to find five boxes of
                sour patch kids on a yacht and hid in a shed where we played truth or dare for what
                felt like an eternity. We drove home along the beach and listened to alt-j,
                screaming lyrics in the big red truck we drove.
              </p>
              <p>
                I turned the image of a swirl in the ocean to a reflection months later. I turned an
                average Iphone photo into art the day I was sitting on a couch in the middle of a
                cranberry bog in Aberdeen, Washington with two small kittens in my lap and a mind
                full of torment. My world had turned upside down, so I figured this photo should
                too. Everything had rushed down the drain, and I had accidentally found light.
              </p>
              <br />
            </div>
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="Lately"
            />
            <div>
              <h2>
                ‘games’
              </h2>
              <p>
                Something was wrong. One-thousand miles away and all I understood was confusion. I
                went through the process of grief, release, wanting, loneliness, and power all in
                the course of a day. I couldn’t decide if I was just broken up with, or if I was the
                one breaking up with him or if I was just being dramatic.
                <br />
                So I followed her to Home Depot to take my mind elsewhere. She had errands to do, so
                I roamed and took pictures of all the flowers because I knew I couldn’t buy them.
                <br />
                Still no text.
                <br />
                So I did what anyone would do, I shaved half my head.
                <br />
                Well, she did it for me, but still, half my red, golden, wavy, butt length hair was
                gone. I was angry at him for not talking to me. So I put flowers together and
                created a mirror image of all of the flowers so they wouldn’t have to go through
                what I was experiencing. I didn’t want them to be alone like me.
                <br />
                Three cigarettes later, one text to answer my nervous four, “babe, your hair is so
                badass.”
              </p>
              <br />
            </div>
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="CHEVROTAIN"
            />
            <div>
              <h2>
                ‘advice’
              </h2>
              <p>
                They all thought the kid was gay. I didn’t mind. I’ve always liked going against all
                odds.
              </p>
              <p>
                The day before I moved to Oregon, my cousin was giving me advice about boys and told
                me to be careful. I didn’t really understand what he meant until we walked in and
                there were packs and packs of cans around the place. I waited for the kid to come,
                and when he did, we shared one, two, three beers and found ourselves sitting on a
                tractor. I quoted poems about the stars and he stole my first kiss. Definitely not
                gay.
              </p>
              <p>
                He told me he would send me flowers.
              </p>
              <p>
                My cousin told me to stop talking to the kid. He would say that the kid would try
                other things and how the kid wasn’t right for me, and that he was the only one
                allowed to be with me.
              </p>
              <p>
                I didn’t know what else to do but tell the kid to stop talking to me and that I
                didn’t want flowers anymore.
              </p>
              <p>
                I didn’t even like flowers anymore.
              </p>
              <p>
                My birthday came, and my dad was so proud of me that I wasn’t with the kid anymore,
                he sent me flowers. These are the flowers all dried up. I hung them upside down
                around my bed for a year and took pictures of them before I threw them all away.
              </p>
            </div>
            <prog-img
              :cdn-base-url="constants.cdnBaseUrl"
              :dir-name="constants.dirName"
              image-name="copy"
            />
            <div>
              <h2>
                ‘dry bones’
              </h2>
              <p>
                I titled it “dry bones” because he told me it reminded him of my ribs. We used to
                walk to the train and dance under the moonlight, zig-zagging around the metal. We
                were dramatic.
              </p>
              <p>
                We would go swimming in the summer abundance and worship in sin and sun. We were
                flourishing with life and color until we were dried up by the heat of it all.
              </p>
              <p>
                My heart shrunk with cynicism when we separated. My ribs were cold and these bones
                were dried. I couldn’t imagine safety, or trust. My family and my capacity to love
                had left at the same time. He was an awful human, I was just used to the abuse, so
                it felt like like love. The drama wasn’t normal, it was manic. No wonder we twirled
                to an end.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from '../components/PageHeader'
import ProgressiveImage from '../components/ProgressiveImage'
import { mapState } from 'vuex'

export default {
  name: 'Thinks',
  components: {
    PageHeader,
    'prog-img': ProgressiveImage
  },
  computed: {
    ...mapState(['constants'])
  }
}
</script>

<style lang="sass" scoped>
.thinks
  .entries
    padding: 0 9.11vw
    hr
      margin: 7vh 0
      border: 0.4pt solid rgba(112, 112, 112, 0.17)
    .entry
      .title
        font-size: 6vw
        color: #000
        margin-bottom: 15px
      .date
        font-size: 3.5vw
        color: #707070
      .content
        p
          text-align: left
          padding: 0 35px
          line-height: 4vw
          font-size: 3.5vw
          color: #222222

    #throwing-up
      .img-tainer
        display: grid
        justify-content: center
        img
          width: 42.776vw
          padding: 66.2px 5px 0 5px
        @media (min-width: 900px)
          grid-column-gap: 10px
          width: 70%
          margin: auto
          grid-template-columns: repeat(3, 1fr)
          img
            width: 100%
    #as-i-am
      .content
        padding-top: 5vw
      .content__grid
        padding-top: 11.4vw
      img
        padding: 66.2px 0
    #vexilum
      h2
        color: #222222
        margin: 0
      img
        @media (max-width: 900px)
          width: 50.5vw
          padding: 31.47vw 0 15px 0

      .content--grid
        display: grid
        justify-items: center
        align-items: center
        @media (min-width: 900px)
          grid-template-columns: 50% 50%
          grid-auto-flow: dense
          grid-column-gap: 50px
          grid-row-gap: 10vw
          img:nth-child(4n + 3)
              grid-column: 2
    @media (min-width: 661px) and (max-width: 900px)
      .entry
        .content
          p
            font-size: 3vw
        .title
          font-size: 4.5vw
        .date
          font-size: 2.5vw
  @media (min-width: 901px)
    .entries
      hr
        border: 0.4pt solid white
      .entry
        .content
          p
            line-height: 3.5vw
            font-size: 2.2vw
        .title
          font-size: 3.5vw
          text-align: left
        .date
          font-size: 1.5vw
          margin-top: -35px
          text-align: right
        .content
          p
            padding: 0
  @media (min-width: 1001px) and (max-width: 1100px)
    .entries .entry .content p
      line-height: 2vw
      font-size: 1.56vw
  @media (min-width: 1101px) and (max-width: 1300px)
    .entries .entry .content p
      line-height: 1.8vw
      font-size: 1.5vw
  @media (min-width: 1301px)
    .entries .entry
      .content p
        line-height: 1.7vw
        font-size: 1.4vw
      .title
        font-size: 3vw
      .date
        font-size: 1.2vw
  @media (min-width: 1401px)
    .entries .entry .content p
      line-height: 1.6vw
      font-size: 1.2vw
  @media (min-width: 1000px) and (max-width: 1100px)
    .entries #as-i-am
      .content__grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 38vw 38vw 38vw
        div
          margin-left: 5vw
          &:nth-child(3)
            margin-top: -26vw
          &:nth-child(5)
            margin-top: -23vw
  @media (min-width: 1101px) and (max-width: 1200px)
    .entries #as-i-am
      .content__grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 32vw 32vw 32vw
        div
          margin-left: 5vw
          &:nth-child(3)
            margin-top: -22vw
          &:nth-child(5)
            margin-top: -20vw
  @media (min-width: 1101px) and (max-width: 1200px)
    .entries #as-i-am
      .content__grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 32vw 32vw 32vw
        div
          margin-left: 5vw
          &:nth-child(3)
            margin-top: -22vw
          &:nth-child(5)
            margin-top: -20vw
  @media (min-width: 1201px) and (max-width: 1300px)
    .entries #as-i-am
      .content__grid
        grid-template-columns: 50% 50%
        grid-template-rows: 34vw 34vw 34vw
        div
          margin-left: 5vw
          &:nth-child(3)
            margin-top: -23vw
          &:nth-child(5)
            margin-top: -22vw
  @media (min-width: 1301px)
    .entries #as-i-am
      .content__grid
        grid-template-columns: 50% 50%
        grid-template-rows: 32vw 32vw 32vw
        div
          margin-left: 5vw
          &:nth-child(3)
            margin-top: -21vw
          &:nth-child(5)
            margin-top: -16vw
  @media (min-width: 1000px)
    .entries #as-i-am
      img
        padding: 0
      .content__grid
        display: grid
        grid-auto-flow: dense
        img
          padding: 0
        div
          &:nth-child(1)
            grid-column: 2
          &:nth-child(3)
            grid-column: 2
          &:nth-child(5)
            grid-column: 2
</style>
