<template>
  <div class="footer">
    <div class="social">
      <div class="col spot">
        <a
          href="https://open.spotify.com/user/simplyexisting?si=-P4jEamsSOyXongw6fB1Dg"
          target="_blank"
        >
          <img
            src="https://res.cloudinary.com/tdawson/image/upload/v1542008441/ec-site/spotify.svg"
            alt=""
          />
        </a>
      </div>
      <div class="col insta">
        <a href="https://www.instagram.com/enigemma/" target="_blank">
          <img
            src="https://res.cloudinary.com/tdawson/image/upload/v1542008440/ec-site/insta.png"
            alt=""
          />
        </a>
      </div>
      <div class="col twitter">
        <a href="https://twitter.com/carnageflies" target="_blank">
          <img
            src="https://res.cloudinary.com/tdawson/image/upload/v1542008442/ec-site/twitter.svg"
            alt=""
          />
        </a>
      </div>
      <div class="col facebook">
        <a href="https://www.facebook.com/emma.delisle.777" target="_blank">
          <img
            src="https://res.cloudinary.com/tdawson/image/upload/v1542008440/ec-site/facebook.svg"
            alt=""
          />
        </a>
      </div>
      <div class="col dribble">
        <a href="https://dribbble.com/enigema" target="_blank">
          <img
            src="https://res.cloudinary.com/tdawson/image/upload/v1542008440/ec-site/dribble.svg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Footer',
  components: {}
}
</script>
<style lang="sass" scoped>
.footer
  .social
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-column-gap: 3%
    justify-items: center
    width: 70%
    margin: auto
    padding: 10vh 0
    .col
      img
        width: 100%
    @media (min-width: 470px) and (max-width: 569px)
      width: 65%
    @media (min-width: 570px) and (max-width: 699px)
      width: 55%
    @media (min-width: 700px) and (max-width: 860px)
      width: 50%
    @media (min-width: 861px) and (max-width: 1024px)
      width: 45%
    @media (min-width: 1025px) and (max-width: 1280px)
      width: 35%
    @media (min-width: 1280px)
      width: 30%
    @media (min-width: 1400px)
      width: 25%
    @media (min-width: 860px)
      grid-column-gap: 8%
</style>
