<template>
  <div id="inquire" class="contact-form">
    <h1>INQUIRE</h1>
    <form ref="contactForm" novalidate="true">
      <InputField
        ref="name"
        class="input-field"
        :error="input.name.error"
        placeholder="Name"
        label="name"
        type="text"
        @inputFilled="inputFilled('name', $event)"
      />
      <InputField
        ref="email"
        class="input-field"
        :error="input.email.error"
        placeholder="Email"
        label="email"
        type="email"
        @inputFilled="inputFilled('email', $event)"
      />
      <InputField
        ref="message"
        class="text-field"
        :error="input.message.error"
        placeholder="Enter your message"
        label="message"
        type="textarea"
        @inputFilled="inputFilled('message', $event)"
      />
      <input
        @click="checkForm()"
        :class="[
          emailState === STATE.NOT_SENT ? 'submit-btn-pushable' : 'submit-btn-unpushable',
          'submit-btn'
        ]"
        type="button"
        :value="send"
      />
    </form>
  </div>
</template>
<script>
import InputField from './InputField'

const NOT_SENT = 0,
  SENDING = 1,
  SENT = 2

export default {
  name: 'Form',
  components: {
    InputField
  },
  data() {
    return {
      name: '',
      email: '',
      message: '',
      send: 'SEND',
      emailState: NOT_SENT,
      STATE: {
        NOT_SENT: NOT_SENT,
        SENDING: SENDING,
        SENT: SENT
      },
      input: {
        name: { value: '', error: false },
        email: { value: '', error: false },
        message: { value: '', error: false }
      },
      error: {
        name: false,
        email: false,
        message: false
      }
    }
  },
  methods: {
    checkForm(e) {
      if (
        !(
          (this.input.name.error = this.input.name.value === '') |
          (this.input.email.error = this.input.email.value === '') |
          (this.input.message.error = this.input.message.value === '') |
          (this.emailState === SENT)
        )
      ) {
        this.emailState = SENDING
        this.animateElipsis()
        // Need to log somewhere when the request is made

        // eslint-disable-next-line no-undef
        Email.send(
          'taylorjdawson@gmail.com',
          'taylorjdawson@gmail.com',
          'Emma-Claire Inquiry',
          `<b>Name:</b> ${this.name}<br><b>Email</b>: ${this.email}<br><b>Message:</b><br>${
            this.message
          }`,

          {
            token: 'f94bf455-eb13-4035-96b0-5622da25f182',
            callback: this.done(e)
          }
        )
      }
    },
    async animateElipsis() {
      // TODO: make this better (LOL)
      while (this.emailState === SENDING) {
        this.send = 'SEND'
        await new Promise(resolve => setTimeout(resolve, 300))
        this.send = 'SEND .'
        await new Promise(resolve => setTimeout(resolve, 300))
        this.send = 'SEND . .'
        await new Promise(resolve => setTimeout(resolve, 300))
        this.send = 'SEND . . .'
        await new Promise(resolve => setTimeout(resolve, 300))
      }
      this.send = 'SENT \u2714'
    },
    done() {
      this.$refs.contactForm.reset()
      this.emailState = SENT
    },
    inputFilled(field, value) {
      this.input[field].value = value
      this.input[field].error = value === ''
    }
  }
}
</script>
<style lang="sass" scoped>
.contact-form
  padding: 15vh 15%
  text-align: left
  margin: auto
  h1
    margin: 25px 0
  hr
    margin: 25px 0 30px 0
  form
    .input-field
      width: 100%
      @media screen and (min-width: 700px)
        width: 75%
    .text-field
      width: 100%
      resize: none
    .submit-btn
      outline-color: unset
      margin: 35px 0
      border-radius: 1px
      padding: 10px 25px
      border: solid 1px #989898
      color: #989898
      background-color: transparent
    .submit-btn-pushable
      cursor: pointer
      &:hover
        border: solid 1px #222222
        color: #222222
    .submit-btn-unpushable
      pointer-events: none
  @media (min-width: 700px) and (max-width: 1000px)
    width: 60%
  @media (min-width: 1000px)
    width: 40%
  @media (min-width: 1280px)
    width: 30%
.input-group + .input-group
  margin-top: 35px
</style>
