<template>
  <div :class="[{ error: error }, 'input-group']">
    <label
      @focus="focusEvent"
      :for="label"
      :class="[{ focused: isFocused }, 'form-label']"
      :style="{ color: color }"
    >
      {{ placeholder }}
    </label>
    <div class="input-field">
      <resizable-textarea v-if="type === 'textarea'">
        <textarea
          @focus="focusEvent"
          @blur="blurEvent"
          ref="inputField"
          :id="label"
          :name="label"
          :class="[{ filled: isFilled || isFocused }, 'form-input']"
          rows="1"
          :style="{ color: color }"
        />
      </resizable-textarea>

      <input
        v-else
        @focus="focusEvent"
        @blur="blurEvent"
        ref="inputField"
        :id="label"
        :name="label"
        :class="[{ filled: isFilled || isFocused }, 'form-input']"
        :type="type"
        :autocomplete="label"
        :style="{ color: color }"
      />
    </div>
  </div>
</template>
<script>
// TODO: create a way to send input up and out of component
// TODO: Emit onFocus/onBlur event(maybe) if .native don't work
import { mapActions } from 'vuex'
import ResizableTextArea from './ResizableTextArea.js'

export default {
  name: 'InputField',
  props: ['placeholder', 'label', 'color', 'type', 'error', 'input'],
  components: { 'resizable-textarea': ResizableTextArea },
  data() {
    return {
      isFocused: false,
      isFilled: false
    }
  },
  methods: {
    ...mapActions(['setFormData']),
    focusEvent() {
      this.isFocused = true
    },
    blurEvent() {
      if (this.$refs.inputField.value === '') {
        this.isFilled = false
        this.isFocused = false
      } else {
        this.isFilled = true
        this.$emit('inputFilled', this.$refs.inputField.value)
      }
    }
  },
  mounted() {
    document.getElementsByTagName('form')[0].addEventListener('reset', () => {
      this.isFilled = false
      this.isFocused = false
    })
  }
}
</script>
<style lang="scss" scoped>
.input-group {
  position: relative;

  label {
    padding: 0;
    position: absolute;
    left: 0;
    top: 4px;
    color: #999;
    background-color: transparent;
    transition: font-size 150ms ease-out, transform 150ms ease-out;
    z-index: 2;
    font-size: 4vw;
    &.focused {
      font-size: calc(4vw * 0.75);
      transform: translateY(-125%);
    }
    @media (min-width: 481px) and (max-width: 699px) {
      font-size: 3vw;
      &.focused {
        font-size: calc(3vw * 0.75);
      }
    }
    @media (min-width: 700px) and (max-width: 767px) {
      font-size: 2.6vw;
      &.focused {
        font-size: calc(2.6vw * 0.75);
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 2vw;
      &.focused {
        font-size: calc(2vw * 0.75);
      }
    }
    @media (min-width: 1025px) and (max-width: 1150px) {
      font-size: 2vw;
      &.focused {
        font-size: calc(2vw * 0.75);
      }
    }
    @media (min-width: 1151px) and (max-width: 1280px) {
      font-size: 1.8vw;
      &.focused {
        font-size: calc(1.8vw * 0.75);
      }
    }
    @media (min-width: 1280px) {
      font-size: 1.3vw;
      &.focused {
        font-size: calc(1.3vw * 0.75);
      }
    }
  }
  .input-field {
    /*Source: https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css*/
    /*Removes the yellow highlight on chrome's auto-fill*/
    input:-webkit-autofill {
      -webkit-box-shadow: 0 1px 0 0 #e5e5e5, 0 0 0 50px white inset !important;
      -webkit-text-fill-color: #333;
    }

    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 1px 0 0 black, 0 0 0 50px white inset !important;
      -webkit-text-fill-color: #333;
    }
    input,
    textarea {
      position: relative;
      padding: 12px 0px 5px 0;
      width: 100%;
      outline: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      -webkit-appearance: none;
      box-shadow: 0 1px 0 0 #e5e5e5;
      transition: box-shadow 150ms ease-out;
      &.filled {
        box-shadow: 0 1px 0 0 #1e3e1f;
      }
    }
    textarea {
      // min-height: 35px;
    }
  }
}
.error {
  label {
    color: #c94736 !important;
  }
  .input-field {
    input,
    textarea {
      box-shadow: 0 1px 0 0 #c94736;
      &.filled {
        box-shadow: 0 1px 0 0 #c94736;
      }
    }
  }
}
</style>
