<template>
  <div class="insta-feed">
    <img class="insta-image" v-for="image in images" :src="image.medium_url" alt="" />
  </div>
</template>

<script>
import axios from 'axios'
const BASE_URL = 'https://instafeed-api.pixlee.com/getJSON?'

export default {
  name: 'InstaFeed',
  props: ['apiKey', 'widgetId', 'numImages'],
  data() {
    return {
      images: {}
    }
  },
  async mounted() {
    try {
      let response = await axios.get(
        `${BASE_URL}api_key=${this.apiKey}&page=1&filter_id=${this.widgetId}&per_page=${
          this.numImages
        }`
      )
      this.images = response.data.data
      console.log(response)
    } catch (error) {
      console.log(error)
      console.log(error.response)
    }
  }
}
</script>

<style lang="sass" scoped>
$image-width-height: 250px

.insta-feed
  display: grid
  grid-template-columns: repeat(auto-fill, minmax($image-width-height, auto))
  grid-auto-rows: $image-width-height $image-width-height
  grid-gap: 10px
  align-items: center
  justify-items: center
  img
    object-fit: cover
    height: $image-width-height
    width: $image-width-height
@media (min-width: 1000px)
  .insta-feed
    grid-template-columns: repeat(auto-fill, minmax(200px, auto))
    grid-auto-rows: 200px 200px
    img
      height: 200px
      width: 200px
</style>
