<template>
  <div @click="toggleMenu()" class="menu-bar">
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 166.5 185"
      style="enable-background:new 0 0 166.5 185;"
      xml:space="preserve"
    >
      <rect x="0.5" y="42" class="st0" width="111" height="79.8" />
      <rect x="41.7" y="52" class="st1" width="111" height="79.8" />
      <path
        class="st2"
        d="M94.2,2.1c0.9,0.8,1.6,1.8,2,3c0.3,1.2,0.2,2.5-0.3,3.7c-1.1,2.2-2.7,4.2-4.6,5.8c-3.8,3.1-8,5.8-12.4,8
	c-8.6,4.8-17.1,9.7-25.6,14.8S36.5,47.7,28.5,53.4c-4,2.8-7.9,5.8-11.7,8.9c-1.9,1.6-3.7,3.2-5.4,4.9c-1.7,1.7-3.3,3.5-4.6,5.5
	c-0.6,1-1.1,2-1.5,3.1c-0.4,0.9-0.3,2,0.3,2.9c0.7,0.8,1.6,1.4,2.6,1.6c1.1,0.3,2.3,0.4,3.4,0.4c4.8-0.2,9.5-1.6,13.6-4.2
	c4.1-2.5,7.5-6.1,10.8-9.8c1.6-1.9,3.3-3.7,5.1-5.4c1-0.8,2-1.5,3.2-2c1.2-0.5,2.4-0.9,3.6-1.1c2.4-0.5,4.9-0.8,7.4-0.8
	c2.5,0,5,0.3,7.4,1c2.4,0.6,4.7,1.9,6.4,3.8c1.7,1.9,2.6,4.4,2.6,6.9c0,1.2-0.1,2.5-0.3,3.7c-0.2,1.2-0.6,2.4-0.8,3.6
	c-0.2,1.2-0.3,2.4-0.2,3.6c0,0.6,0.2,1.2,0.5,1.7c0.3,0.5,0.8,0.8,1.4,0.9c1.2,0,2.4-0.2,3.4-0.8c1.1-0.5,2.2-1.2,3.2-1.9
	c2-1.4,3.9-2.9,5.7-4.6l0,0l8.2-9l0.6-0.6c0.2-0.2,0.5-0.3,0.8-0.4c0.6-0.1,1.2,0.2,1.5,0.7l1.6,2.6l3.2,5.1l-0.1,0.1
	c0.4,0.5,0.8,1,1.1,1.5c0.3,0.5,0.6,1.1,0.9,1.6c0.6,1.1,1.3,2.2,2,3.2c1.4,2.1,3,4.1,4.5,6s3.1,4,4.7,5.9s3.3,3.7,5.1,5.5
	c3.5,3.6,7.5,6.6,11.9,9c2.2,1.2,4.5,2.1,6.9,2.8c0.6,0.2,1.2,0.3,1.8,0.5c0.6,0.1,1.2,0.3,1.8,0.4c1.2,0.1,2.5,0.2,3.7,0.2
	c5,0,10-0.5,15.1-0.1c1.3,0.1,2.5,0.3,3.7,0.7c0.6,0.2,1.2,0.5,1.7,0.9c0.5,0.4,0.9,1,1.1,1.6c0.2,1.3,0,2.6-0.7,3.7
	c-0.6,1.1-1.3,2.2-2.1,3.1c-1.6,2-3.3,3.8-5.1,5.5c-1.8,1.8-3.6,3.5-5.5,5.2c-3.7,3.4-7.4,6.8-11.2,10.1l-5.7,5l-5.7,4.9
	c-3.8,3.3-7.6,6.6-11.5,9.8c-3.9,3.2-7.9,6.3-11.9,9.4c-4,3.2-8.2,6-12.6,8.7c-2.2,1.3-4.5,2.5-6.9,3.5c-2.4,1.1-5,1.8-7.6,2.2
	c-2.7,0.4-5.4,0.4-8.1-0.1c-2.7-0.5-5.2-1.6-7.3-3.3c-2-1.7-3.5-4-4.2-6.6c-0.7-2.5-0.7-5.2,0-7.7c0.6-2.5,2.1-4.7,4.1-6.3
	c2-1.6,4.6-2.2,7.1-1.9c-2.5-0.3-5.1,0.5-7,2.1c-1.9,1.7-3.1,3.9-3.7,6.3c-0.6,2.4-0.4,4.9,0.3,7.2c0.7,2.3,2.2,4.3,4.2,5.7
	c2,1.4,4.3,2.1,6.8,2.2c1.2,0,2.3-0.2,3.5-0.4c1.2-0.3,2.3-0.6,3.4-1c4.6-1.7,9-3.5,13.4-5.6c4.4-2.1,8.9-4.5,13.2-7
	s8.5-5.3,12.6-8.2s8.2-5.9,12.1-9c2-1.6,3.9-3.1,5.8-4.8c1.9-1.6,3.8-3.3,5.7-4.9c3.8-3.3,7.5-6.7,11.1-10.2
	c1.8-1.7,3.6-3.5,5.4-5.3c1.8-1.7,3.5-3.6,5.1-5.5c0.8-1,1.5-2,2-3.1c0.6-1.1,0.9-2.3,0.7-3.5c-0.5-1.1-1.4-2-2.6-2.2
	c-1.2-0.4-2.4-0.6-3.7-0.6c-5-0.3-10,0.2-15,0.3c-1.3,0-2.5,0-3.8-0.2c-0.6-0.1-1.3-0.2-1.9-0.4c-0.6-0.1-1.2-0.3-1.9-0.5
	c-2.4-0.7-4.8-1.6-7.1-2.8c-4.5-2.4-8.5-5.5-12.1-9.1c-3.6-3.6-6.8-7.4-9.7-11.6c-1.4-2.1-2.8-4.2-4.1-6.3c-0.7-1-1.3-2.1-2.1-3.1
	c-0.8-1-1.5-2-2-3.2h-0.1l-3.2-5.2l-1.6-2.6c-0.2-0.4-0.7-0.6-1.1-0.5c-0.4,0-0.7,0.5-1.1,0.9l-8.2,9l0,0c-1.8,1.7-3.7,3.2-5.8,4.7
	c-1,0.7-2.1,1.3-3.2,1.9c-1.1,0.6-2.4,0.9-3.6,0.9c-0.7-0.1-1.3-0.4-1.6-1c-0.3-0.6-0.5-1.2-0.6-1.8c-0.1-1.2,0-2.5,0.2-3.7
	c0.2-1.2,0.5-2.4,0.8-3.6c0.2-1.2,0.3-2.4,0.3-3.6c0-2.4-0.9-4.8-2.5-6.6c-1.7-1.7-3.8-3-6.2-3.6c-4.8-1.2-9.7-1.2-14.5-0.1
	c-1.2,0.3-2.3,0.7-3.4,1.1c-1.1,0.5-2.1,1.2-3,2c-1.8,1.7-3.4,3.5-4.9,5.4C33.7,71.2,30.3,75,26,77.7c-2.1,1.4-4.4,2.5-6.8,3.3
	c-2.4,0.8-4.9,1.3-7.5,1.3c-1.3,0-2.6-0.1-3.9-0.4c-1.4-0.3-2.7-1.1-3.6-2.2c-0.8-1.3-1-2.8-0.5-4.2c0.4-1.3,1-2.5,1.7-3.5
	c1.4-2.1,3.1-4,4.9-5.8c1.8-1.8,3.6-3.4,5.5-5c3.8-3.2,7.8-6.1,11.9-8.9c8.1-5.6,16.5-10.8,25-15.8S69.8,26.7,78.5,22
	c2.2-1.2,4.4-2.3,6.5-3.6c2.1-1.2,4.1-2.6,6.1-4.2c1.9-1.5,3.5-3.4,4.7-5.6c0.5-1.1,0.7-2.4,0.4-3.6C95.8,4,95.1,2.9,94.2,2.1z"
      />
    </svg>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Menubar',
  data() {
    return {}
  },
  props: [],
  computed: {
    ...mapGetters(['menuOpen'])
  },
  methods: {
    ...mapActions(['toggleMenu'])
  }
}
</script>
<style lang="sass" scoped>
.menu-bar
  svg
    width: 70px
    top: 20px
    left: 15px
    position: fixed
    z-index: 1001
    /*background-color: black*/
    /*transition: background-color 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22)*/
  &:hover
    .st1
      transform: translateY(10px) translateX(10px)
  .menu-open
      background-color: white
      transition: background-color 0.5s ease-out
  .st0
    fill: none
    stroke: #F9F9F9
    stroke-miterlimit: 10
    stroke-width: 5px
  .st1
    fill: none
    stroke: #000000
    stroke-miterlimit: 10
    stroke-width: 5px
    transition: transform 500ms ease
  .st2
    fill: #C8FF00
    stroke-width: 4px
</style>
