<template>
  <div class="menu">
    <div class="menu-content">
      <div class="row title">
        <h1>emma claire</h1>
      </div>
      <div class="row">
        <router-link @click.native="toggleMenu()" to="/current">
          current
        </router-link>
      </div>
      <div class="row">
        <router-link @click.native="toggleMenu()" to="/art">
          art
        </router-link>
      </div>
      <div class="row">
        <router-link @click.native="toggleMenu()" to="/design">
          design
        </router-link>
      </div>
      <div class="row">
        <router-link @click.native="toggleMenu()" to="/thinks">
          thinks
        </router-link>
      </div>
      <div class="row">
        <router-link @click.native="toggleMenu()" to="/about">
          about
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'Menu',
  components: {},
  data() {
    return {}
  },
  props: [],
  computed: {},
  methods: {
    ...mapActions(['toggleMenu'])
  }
}
</script>
<style lang="sass" scoped>
.menu
  position: fixed
  background-color: black
  height: 100vh
  width: 100%
  overflow-y: scroll
  z-index: 1000
  .menu-content
    display: grid
    grid-template-rows: 20% repeat(5, 1fr) 30%
    height: 100vh
    color: white
    .row
      justify-self: left
      align-self: end
      margin-left: 60px
      h1
        font-family: ltc-bodoni-175, serif
        font-weight: 400
        font-style: normal
      a
        font-family: 'Muli', sans-serif
        text-decoration: none
        color: white
</style>
