<template>
  <div class="page-header">
    <h1>{{ title }}</h1>
    <h2>emma claire</h2>
  </div>
</template>
<script>
export default {
  name: 'PageHeader',
  data() {
    return {}
  },
  props: ['title'],
  computed: {},
  methods: {}
}
</script>
<style lang="sass" scoped>
.page-header
  padding-top: 10vh
  padding-bottom: 10vh
  h1,
  h2
    font-family: ltc-bodoni-175, serif
    font-weight: 400
    font-style: normal
    margin: unset
  h1
    text-transform: uppercase
  h2
    color: grey
</style>
