<template>
  <img :id="toSnakeCase(imageName)" @load="onLoad" :src="imgSrc" alt="" />
</template>
<script>
export default {
  name: 'ProgImg',
  data() {
    return {
      transforms: 'f_auto,q_auto:low,w_0.05,e_blur:300/'
    }
  },
  props: ['cdnBaseUrl', 'dirName', 'imageName'],
  computed: {
    imgSrc() {
      return `${this.cdnBaseUrl}/${this.transforms}${this.dirName}/${this.imageName}`
    }
  },
  methods: {
    onLoad() {
      this.transforms = 'f_auto,q_auto,w_auto/'
    },
    toSnakeCase(imageName) {
      return imageName.replace(/[ _]/g, '-').toLowerCase()
    }
  }
}
</script>
<style lang="sass" scoped>
img
  width: 100%
</style>
