<template>
  <div id="app">
    <MenuBar />
    <transition name="fade" @afterEnter="afterEnter" @leave="leave">
      <Menu v-if="menuOpen" />
    </transition>
    <router-view />
    <Footer />
  </div>
</template>
<script>
import Menu from '@/components/Menu.vue'
import MenuBar from '@/components/MenuBar.vue'
import Footer from '@/components/Footer.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    Menu, // eslint-disable-line vue/no-unused-components
    MenuBar,
    Footer // eslint-disable-line vue/no-unused-components
  },
  data() {
    return {}
  },
  props: [],
  computed: {
    ...mapGetters(['menuOpen'])
  },
  methods: {
    afterEnter() {
      document.documentElement.style.overflow = 'hidden'
    },
    leave() {
      document.documentElement.style.overflow = 'auto'
    }
  }
}
</script>
<style lang="scss">
@import url('https://use.typekit.net/dql2daj.css');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import '../src/scss/_include-media.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ltc-bodoni-175, serif;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.fade-enter-active {
  transition: opacity 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.fade-leave-active {
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
// TODO: Custom scrolbar on windows; defaul SBar on Mac

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}
</style>
